
h1 {
    color: rgb(0, 0, 0);               
    background-color: transparent;          
    padding: 5px;
    border-radius: 40px;                    
    text-align: center;
    margin-bottom: 10px;
    transition-duration: 0.3s;
}
h1:hover{
    text-shadow: 0 0 25px #ff00dd;
}

.classLi .title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.classLi .notes {
    font-family: 'Times New Roman', Times, serif;
}


#div1 {
    background-color: transparent;
    backdrop-filter: blur(10px);             
    border: 2px solid burlywood;       
    border-radius: 40px;
    padding: 20px;

    display: flex;
    flex-direction: row;                     
    align-items: center;                    
    justify-content: center;                 
    text-align: center;
    gap: 5px;                                
}


#div2 {
    margin-top: 2%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#searchNotes {
    background-color: transparent;
    border-radius: 3px;
    padding: 1%;
    border: none;
}


#showing,
#totalNotes {
    color: black
}


label[for="searchNotes"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


label[for="totalNotes"],
label[for="showing"] {
    color: black;
}


body {
    background-image: url('landscape.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;                      
}


#noteTitle {
    padding: 10px;
    background-color: transparent;
    backdrop-filter:blur(8px);
    border: 2px solid rgba(173, 216, 230, 0.315);
    border-radius: 5px;
    color: black;
    width: 30%;
}
#noteTitle:hover{
box-shadow: 0px 0px 2px rgb(0, 191, 255);
}
textarea:hover{
box-shadow: 0px 0px 2px rgb(233, 0, 254)
}

textarea {
    width: 30%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(227, 176, 232, 0.317);
    color: black;
    background-color: transparent;
    backdrop-filter:blur(8px);

}


ul {
    padding-left: 0;
    padding-right: 5px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
}

.classLi {
    display: list-item;
    margin-top: 10px;
    border: 2px solid rgba(0, 255, 72, 0.114);
    border-radius: 10px;
    overflow-wrap: break-word;
    list-style: number;                     
    margin-left: 25px;
    padding: 10px;
    color: rgb(0, 0, 0);            
}

::placeholder {
    color: rgba(0, 0, 0, 0.347);
}

.delete{
border-radius:5px; 
border:none; 
padding:5px;
}

#addBook:hover{
  background-color: #04AA6D; 
  color: white;
  transition-duration: 0.2s;
}
.delete:hover{
color: white;
background-color:tomato; 
transition-duration: 0.2s;
}
